body{
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    color:#ffffff;
    text-align: center; 
}


#homePage{
    background-color: #504B38;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0 1 rem;
}

#homePage a{
    color: white;
  text-decoration: underline;

  padding: 0.1em 0.2em;
  border-radius: 0px;

  transition:
    background 0.25s ease,
    color 0.25s ease;
}

#homePage a:hover {
  background: rgb(255, 255, 255);
  color:#000000
}

@media(max-width: 700px){
    #homePage{
        margin-left: 8%;
        margin-right: 8%;
    }
}

#projectPage{
    background-color: #504B38;
    font-family: 'Times New Roman', Times, serif;
    color: #F7F1DE;
    text-align: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#projectPage a{
    color: #F7F1DE;
  text-decoration: underline;

  padding: 0.1em 0.2em;
  border-radius: 0px;

  transition:
    background 0.25s ease,
    color 0.25s ease;
}

#projectPage a:hover {
  background: rgb(255, 255, 255);
  color:#000000
}



#titlekash{
    text-shadow: 3px 3px 0 #628141;
    color: #EBD5AB
}

#navBar{
    display: flex;
    gap: 15px;
    justify-content: center;
}

#writingPost{
    text-align: left;
}
h1{
    color: #F7F1DE;
    font-size: 3rem;
}

h2{
    color:#F7F1DE;
}

p{
    color: #F7F1DE;
    line-height: 1.5;
}

a{
    color:#00cece;
}

article{
    display: flexbox;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}


#scoundrelIcon{
    image-rendering: pixelated;
}

.sampleImage{
    width: 100%;
    max-width: 800px;
    height: auto;
}

